* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    padding-top: 50px;
}

#grid {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 8);
    height: calc(100% / 8);
    border: solid 2px #7e89ff;
}

.square.clicked {
    background-color: indianred;
}